{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
  <h1>Contacto</h1>
  <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>¡Nos encantaría escuchar de ti! Si tienes alguna pregunta, comentario o consulta, no dudes en ponerte en contacto con nosotros. Tu opinión es importante y estamos aquí para ayudarte en lo que necesites.</p>
        <br />
        <p><b>Información de Contacto:</b></p>
        <br>
            <p><b>Dirección:</b> Ciudadela Universitaria, Portoviejo, Manabí, Ecuador</p>
            <p><b>Teléfono:</b> 0963777493</p>
            <p><b>Correo Electrónico:</b> vannzo0409@gmail.com</p>
            <p><b>Horario de Atención:</b> Lunes a Sábado de 08:00 - 23:00  </p>
      </div>
    </div>
  </div>
{% endblock %}
