{% extends 'core/base.html' %}

{% block title %}Pago{% endblock %}

{% block background %}{% load static %}{% static 'core/img/pago.jpg' %}{% endblock %}

{% block headers %}
    <h1>Pago mediante transferencia</h1>
    <span class="subheading">Vannzo's </span>
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2><b>CUENTA DE AHORRO BANCO PICHINCHA</b></h2>
            <p> <b> Número de cuenta:</b></p>
            <p> 234179927627</p>
            <p> <b>Nombre del propietario:</b></p>
            <p> Vannzo</p>
            <p> <b>Número de cédula:</b></p>
            <p> 1314075520</p>
            <p> <b>Correo Electrónico:</b></p>
            <p> vannzo0409@gmail.com</p>
            <br>
            <p> <b>*IMPORTANTE: UNA VEZ REALICES LA TRANSACCIÓN COMUNICATE CON NOSOTROS PARA VALIDARLA Y HACERTE LLEGAR TU ENCARGO</b></p>
            <br>
            <p><b>WhatsApp:</b> 0963777493</p>
        </div>
        </div>
    </div>
{% endblock %}